.ProductList {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
  }
  
  .heading {
    text-align: center;
    margin-top: 50px; /* Adjust this value to control the distance from the top */
  }
  
  .ulist {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex; /* Make the list items flex items */
    justify-content: space-around; /* Align list items evenly */
  }
  
  .list {
    width: 20%; /* Adjust this value as needed */
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .searchbox{
    width:400px;
    margin:20px 20px 20px 30%;
    height:40px;
    border:2px solid skyblue;
    padding-left: 20px;
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  @media (min-width: 768px) {
    .list {
      width: 25%; /* Adjust this value as needed */
    }
  }
  