.footer{
    display: grid;
   grid-template-rows: auto;
   align-items:safe;
   justify-content:left;
    position:absolute;
    bottom:0;
    background-color:aquamarine;
    width:100%;
    height: auto;
    text-align: center;
    background-color: #4267B2;

}

.heading{
    font-size: 12px;
}