/* Nav.module.css */

.Nav {
    background-color: #f0f5f9; /* Light blue background */
    padding: 15px 30px; /* Increase padding for a more spacious look */
    border-bottom: 2px solid #a3cef1; /* Add a subtle border at the bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly along the main axis (horizontally) */
  }
  
  .nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
  }
  
  .nav-ul li {
    margin:0px 20px 0px 20px; /* Add spacing between menu items */
  }
  
  .nav-ul li:first-child {
    margin-left: 0; /* Remove margin for the first list item */
  }
  
  .nav-ul li a {
    color: #3e7cb1; /* Dark blue text color */
    font-family: 'Roboto', sans-serif; /* Clean and modern font */
    font-size: 16px; /* Maintain a readable font size */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px; /* Rounded corners for a softer look */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  
  .nav-ul li a:hover {
    background-color: #a3cef1; /* Light blue background on hover */
  }
  
  /* Aligning to the right */
  .nav-right {
    margin-left: auto; /* Pushes the nav-right to the right by utilizing auto margin */
  }
  .logo{
    height: 45px;
  }
  
  /* Responsive styles */
  @media (max-width: 500px) {
    .Nav {
      padding: 15px; /* Decrease padding for smaller screens */
    }
  
    .nav-ul {
      display: block;
      text-align: center; /* Center the list items */
    }
  
    .nav-ul li {
      display: block;
      margin: 10px 0; /* Add vertical spacing between menu items */
    }
  }
  